<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/CSS/index.css">
        <title>Letter Blocks</title>
    </head>
    <body>
        <h1 class="header-styling">Letter Block Converter</h1>
        <form class="form-styling" th:action="@{/process}" method="post">
            <label class="form-label-styling">Input letters to convert</label>
            <input class="form-input-styling" type="text" th:name="userInput">
            <button class="form-button-styling" type="submit">Process</button>
        </form>
        <div class="image-wrappers">
            <img th:each="letter: ${letters}"
                 th:src="@{|images/block_${letter}.png|}"
                 th:alt="'block ' + ${letter}">
        </div>
        <form class="form-styling" th:action="@{/reset}" method="post">
            <button class="form-button-styling" type="submit">Reset</button>
        </form>
        <footer class="footer-styling">Matthew Storti</footer>
    </body>
</html>